// Happy Times NG
@font-face {
  font-family: 'Happy Times NG';
  src: url('fonts/happy-times-NG_regular_master_web.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Happy Times NG';
  src: url('fonts/happy-times-NG_italic_master_web.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Happy Times NG';
  src: url('fonts/happy-times-NG_bold_master_web.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Sligoil
@font-face {
  font-family: 'Sligoil';
  src: url('fonts/Sligoil-Micro.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sligoil';
  src: url('fonts/Sligoil-MicroMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sligoil';
  src: url('fonts/Sligoil-MicroBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Headings
h1, .app-text-h1 {
  font-family: 'Happy Times NG', Georgia, serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
}

h2, .app-text-h2 {
  font-family: 'Happy Times NG', Georgia, serif;
  font-weight: 400;
  max-width: 35em;
}

h3, .app-text-h3 {
  font-family: 'Happy Times NG', Georgia, serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
}

h4 {
  font-family: 'Sligoil', sans-serif;
  font-weight: 700;
}

// Body
p, .app-text-reg {
  font-weight: 400;
  font-size: 1rem;
  line-height: 100%;
  max-width: 40em;
}

strong, .app-text-strong {
  font-weight: 600;
}

.body-1 {
  font-family: 'Happy Times NG', Georgia, serif;
  font-weight: 400;
}

.body-2 {
  font-family: 'Sligoil', sans-serif;
  font-weight: 500;
}

.app-color-grey {
  color: hsl(0, 0%, 50%);
}

.app-text-align-center { text-align: center; }
